<form action="{% url 'core:update_collection' current_user %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="modal fade" id="addCollection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a New Collection</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">

                        <div>
                            <label for="{{ form.name.id_for_label }}">Collection Name:</label>
                            {{ form.name }}
                        </div>

                        <div>
                            <label for="{{ form.description.id_for_label }}">Collection Description:</label>
                            {{ form.description }}
                        </div>

                        <div>
                            <label for="{{ form.collection_type.id_for_label }}">Collection Type:</label>
                            {{ form.collection_type }}
                        </div>

                        <div>
                            <label for="{{ form.thumbnail.id_for_label }}">Collection Thumbnail:</label>
                            {{ form.thumbnail }}
                        </div>

                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Collection</button>
                </div>
            </div>
        </div>
    </div>
</form>