{% load static %}


<header class="bg-body-secondary fixed-top" style="height: 3.75rem">
  <div class="h-100 container-fluid">
    <div class="align-items-center d-flex h-100 justify-content-between">
      <!-- Left Section: Title and Search -->
      <div class="d-flex align-items-center">
        <a class="text-decoration-none" href="{% url 'core:home' %}">
          <div class="fs-3 fs-md-1" id="title-header">
            Shelf Sounds
          </div>
        </a>
          {% if user.is_authenticated %}

            <div class="dropdown ms-1 mt-1">
              <button class="btn" data-bs-toggle="dropdown">
                Search
              </button>
              <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'core:search' %}">
                      Search for Music
                    </a>              
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'core:add_friends' %}">
                      Search for Friends
                    </a>             
                  </li>
                </ul>
            </div>
          {% endif %}
      </div>

      <!-- Right Section: Profile Dropdown -->
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <button class="btn profile-btn" data-bs-toggle="dropdown">
            {% if user.profile_picture %}
              <img src="{{ user.profile_picture.url }}" alt="{{ user.username }} profile picture" class="profile-pic">
            {% else %}
              <img src="{% static 'default/default-profile.jpg' %}" alt="Default profile picture" class="profile-pic">
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li>
                <a class="align-items-center d-flex dropdown-item" href="{% url 'core:profile' user.username %}">
                  <i class="bi bi-person me-3" style="font-size: 1.5rem"></i>
                  <div>
                    <div>{{ user.username }}</div>
                    <div>{{ user.first_name }} </div>
                  </div>
                </a>
              </li>              
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="align-items-center d-flex dropdown-item" href="{% url 'core:logout' %}">
                  <i class="bi bi-box-arrow-right me-3" style="font-size: 1.5rem"></i>
                  Log Out
                </a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'core:register' %}"">Create Account</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'core:login' %}"">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
