
<style>

    .friend-profile-picture img {
        width: 50px;
        height: 50px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .friend-option-buttons {
        background-color: transparent;
        border: none;
    }

    .friend-links a {
        border: none;
    }

</style>

<div class="modal fade" id="friendsList" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">Friends List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body friend-links friend-profile-picture">
                <div class="list-group">
                    {% if current_user.username == profile_user.username %}
                        {% if sent_requests %}
                            <h1 class="text-center">Sent Requests</h1>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                        </th>
                                        <th scope="col">
                                        </th>
                                        <th scope="col">
                                        </th>
                                    </tr>
                                </thead>

                                {% for sent_request in sent_requests %}
                                <tr>
                                    <td colspan="3">
                                        <div class="d-flex align-items-center justify-content-center" style="gap: 20px;">
                                            <a href="{% url 'core:profile' sent_request.to_user.username %}" 
                                               class="list-group-item list-group-item-action d-flex align-items-center" 
                                               style="gap: 10px; text-decoration: none;">
                                                <img src="{{ sent_request.to_user.profile_picture.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50%;">
                                                <h1 style="margin: 0; font-size: 1.2rem;">
                                                    {{ sent_request.to_user.username }} - {{ sent_request.created_at|date:"F j Y" }}
                                                </h1>
                                            </a>
                                            {% if current_user.username == profile_user.username %}
                                                <button 
                                                    class="friend-option-buttons"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#cancelFriendRequest"
                                                    data-username="{{ sent_request.to_user.username }}"
                                                    style="border: none; background: none; cursor: pointer;"
                                                >
                                                    <i class="bi bi-x-circle-fill" style="font-size: 1.5rem;"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </table>
                        {% endif %}

                        {% if received_requests %}
                            <h1 class="text-center">Received Requests</h1>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                        </th>
                                        <th scope="col">
                                        </th>
                                        <th scope="col">
                                           
                                        </th>
                                    </tr>
                                </thead>
                                {% for recv_request in received_requests %}
                                <tr>
                                    <td colspan="3">
                                        <div class="d-flex align-items-center justify-content-center" style="gap: 20px;">
                                            <a href="{% url 'core:profile' recv_request.from_user.username %}" 
                                               class="list-group-item list-group-item-action d-flex align-items-center" 
                                               style="gap: 10px; text-decoration: none;">
                                                <img src="{{ recv_request.from_user.profile_picture.url }}" alt="" style="width: 40px; height: 40px; border-radius: 50%;">
                                                <h2 style="margin: 0; font-size: 1.2rem;">
                                                    {{ recv_request.from_user.username }} - {{ recv_request.created_at|date:"F j Y" }}
                                                </h2>
                                            </a>
                                            {% if current_user.username == profile_user.username %}
                                                <button 
                                                    class="friend-option-buttons"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#acceptRejectRequest"
                                                    data-username="{{ recv_request.from_user.username }}"
                                                    style="border: none; background: none; cursor: pointer;"
                                                >
                                                    <i class="bi bi-person-exclamation" style="font-size: 1.5rem;"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </table>

                        {% endif %}
                    {% endif %}

                    {% if friends %}
                        <h1 class="text-center">Current Friends</h1>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                    </th>
                                    <th scope="col">
                                    </th>
                                    <th scope="col">
                                    </th>
                                </tr>
                            </thead>
                            {% for friend in friends %}
                            <tr>
                                <td colspan="3">
                                    <div class="d-flex align-items-center justify-content-center" style="gap: 20px;">
                                        <a href="{% url 'core:profile' friend.username %}" 
                                           class="list-group-item list-group-item-action d-flex align-items-center" 
                                           style="gap: 10px; text-decoration: none;">
                                            <img src="{{ friend.profile_picture.url }}" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%;">
                                            <h2 style="margin: 0; font-size: 1.2rem;">{{ friend.username }}</h2>
                                        </a>
                                        {% if current_user.username == profile_user.username %}
                                            <button 
                                                class="friend-option-buttons"
                                                data-bs-toggle="modal" 
                                                data-bs-target="#removeFriend"
                                                data-username="{{ friend.username }}"
                                                style="border: none; background: none; cursor: pointer;"
                                            >
                                                <i class="bi bi-trash3" style="font-size: 1.5rem;"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </table>
                    {% else %}
                            <h1>Currently don't have friends, add someone! </h1>
                    {% endif %}
                </div>
            </div>

    
        </div>
    </div>
</div>


