{% extends "core/base.html" %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block style %}

<style>

    .profile-img-circle {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid white; /* thinner border */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .profile-img-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .text-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        display: inline-block;
    }


    .card-border {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 0.5em;
        border-radius: 15px;
    }

    .card-border:hover {
        transform: translateY(-5px); /* Slightly enlarges the card */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds a shadow for emphasis */
        border-color: white;
    }

    .card-size {
        width: 18rem;
        height: 25rem;
    }

    .card-title {
        color: white !important;
    }
    
    .plus-icon { 
        font-size: 300px; 
    }


    #card-rows img {
        border-radius: 15px 15px 0px 0px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
    
    #profile-wrapper.light-bg {
        color: #000 !important;
      }
      
      #profile-wrapper.light-bg .btn {
        color: #000 !important;
        border-color: #000 !important;
      }
      
      #profile-wrapper.light-bg .btn:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #000 !important;
      }
      
      #profile-wrapper.dark-bg {
        color: #fff !important;
      }
      
      #profile-wrapper.dark-bg .btn {
        color: #fff !important;
        border-color: #fff !important;
      }
      
      #profile-wrapper.dark-bg .btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff !important;
      }
      
      #profile-wrapper.dark-bg a {
        color: #fff !important;
      }

    .light-bg .btn:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #000 !important;
    }

    .light-bg .card a {
        color: #000 !important;
    }

    .dark-bg {
        color: #fff !important;
    }

    .dark-bg .btn {
        color: #fff !important;
        border-color: #fff !important;
    }

    .dark-bg .btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff !important;
    }

    .dark-bg .card a {
        color: #fff !important;
    }

  
    {% if not profile_user.private or current_user.username == profile_user.username %}

        body {
            background-color: {{profile_user.profile_hue}};
        }

        #title-header {
            color: {{profile_user.profile_hue}};
        }
    
    {% endif %}
    
</style>

{% endblock %}


{% block main %}

<div id="profile-wrapper" class="{% if is_light_bg %}light-bg{% else %}dark-bg{% endif %}">
    
{% if not profile_user.private or current_user.username == profile_user.username %}

    <div class="container mt-2">
        <div class="row justify-content-start">
            <div class="col-sm-2 col-md-3 col-lg-4 d-flex flex-column align-items-center flex-wrap">
                <div class="profile-img-circle">
                    <img src="{{ profile_user.profile_picture.url }}" alt="Profile picture">
                </div>
                <div class="mt-3 text-start">
                    <h1 class="fw-bold" style="font-size: 2.25rem;">{{ profile_user.username }}</h1>
                    <h2 class="{% if is_light_bg %}text-dark{% else %}text-light{% endif %}" style="font-size: 1.75rem;">{{ profile_user.first_name }}</h2>
                    <h4 class="text-light-50">Date Joined: {{ profile_user.date_joined|date:"F j Y" }}</h4>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-light btn-md" style="border-width: 0.1px;" data-bs-toggle="modal" data-bs-target="#friendsList">
                        <h3>
                            Friends List <i class="bi bi-person-lines-fill"></i> 
                            {% if current_user.username == profile_user.username %}
                                {% if received_requests %} 
                                    {% if received_requests_count < 10  %}
                                    <span class="badge text-bg-danger rounded-pill">{{ received_requests_count }}</span>
                                    {% else %}
                                        <span class="badge text-bg-danger rounded-pill">9+</span>
                                    {% endif %}
                                {% endif %}      
                            {% endif %}             
                        </h3>
                    </button>
                </div>

                {% if current_user.username == profile_user.username %}
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-light mt-2" style="border-width: 0.1px;" data-bs-toggle="modal" data-bs-target="#updateProfile">
                            Edit Profile <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                {% endif %}

            </div>
        </div>

        <hr>

        <div class="text-center">
            <div class="fs-1"> 
                Collections
                {% if not collections %}
                    {% if current_user.username == profile_user.username %}
                        <div class="fs-2">
                            You currently have no collections.
                            Add one!
                        </div>
                    {% else %}
                        <div class="fs-2">
                            {{ profile_user.username }} currently has no collections.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    

        <div class="row" id="card-rows">

            {% if current_user.username == profile_user.username %}
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                    <button style="background-color: transparent; border: none;" data-bs-toggle="modal" data-bs-target="#addCollection">
                        <div class="card card-border d-flex justify-content-center align-items-center card-size">
                            <i class="bi bi-plus plus-icon"></i>
                        </div>
                    </button>
                </div>
            {% endif %}

            {% if collections %}
                {% for collection in collections %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                        <div class="card card-border card-size"> 
                            <a href="{% url 'core:collection' profile_user collection.code %}" style="text-decoration: none; color: white;">
                                <img src="{{ collection.thumbnail.url }}" class="card-img-top img-fluid" alt="Collection Thumbnail">
                                <div class="card-body">
                                    <h4 class="card-title">{{ collection.name }}</h4>
                                </div>  
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% else %}

    <div class="container" >
        <div class="row">
            <div class="col text-center">
                <div class="fs-1">
                    This User's Profile is Private
                    <i class="bi bi-incognito"></i>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% include "core/includes/friendModals/friends.html" %}
{% include "core/includes/friendModals/cancel_friend_request.html" %}
{% include "core/includes/friendModals/accept_reject_friend_request.html" %}
{% include "core/includes/friendModals/remove_friend.html" %}

</div> <!-- closes light-bg/dark-bg wrapper -->

{% if collection_form and update_form %}
    {% include "core/includes/add_collection.html" %}
    {% include "core/includes/update_profile.html" %}
{% endif %}


{% endblock %}