{% extends "core/base.html" %}
{% load static %}

{% block title %} {{ collection.name }} {% endblock %}

{% block style %}

<style>

    .collection-thumbnail {
        width: 300px; 
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }

    .update-collection-img img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    {% if not collection.owner.private or current_user.username == collection.owner.username %}

        body {
            background-color: {{collection.owner.profile_hue}};
        }

        #title-header {
            color: {{collection.owner.profile_hue}};
        }

    {% endif %}

</style>

{% endblock %}

{% block main %}

<div>

    {% if not collection.owner.private or current_user == collection.owner %}

    <div class="container mt-2">
        <div class="row justify-content-start">
            <div class="col-sm-2 col-md-3 col-lg-8 d-flex flex-column align-items-center flex-wrap">
                <div>
                    <img class="collection-thumbnail" src="{{ collection.thumbnail.url }}" alt="Collection Thumbnail" >
                </div>

                <div class="color-change" style="white-space: nowrap;">
                    <h1>{{ collection.name }}</h1>
                    <h2>Collection by: 
                        <a class="color-change" href="{% url 'core:profile' collection.owner.username %}">
                            {{ collection.owner.username }}
                        </a>
                    </h2>
                    <h2 id="collection-type">Type: {{ collection.collection_type }}</h2>
                    <h3>Date Created: {{ collection.date_created }}</h3>
                </div>

                {% if current_user.username == collection.owner.username %}
                    <div class="d-flex justify-content-end">
                        <button class="btn color-change" style="background-color: transparent; border: none" data-bs-toggle="modal" data-bs-target="#updateCollection">
                            Edit Collection <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                {% endif %}

            </div>
            <div class="col-sm-8 col-md-9 col-lg-4 color-change">
                {% if collection.description %}
                    <div class="fs-1">
                        {{ collection.description }}
                    </div>
                {% else %}
                    <div class="fs-1">
                        <i>
                            No description for this collection
                        </i>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>

    {% else %}

        <div class="container" >
            <div class="row">
                <div class="col text-center">
                    <div class="fs-1">
                        This User's Profile is Private
                        <i class="bi bi-incognito"></i>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

<div>

    <div class="row">
        {% for artist in collection.artists_list  %}
    
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
            <div class="card card-border" style="width: 18rem;">
                {% if artist.image %}
                    <img src="{{ artist.image }}" class="card-img-top border-bottom border-white" alt="{{ artist.name }}">
                {% else %}
                    <img src="{% static 'default/default.jpg' %}" class="card-img-top border-bottom border-white" alt="{{ artist.name }}">
                {% endif %}
                {% if current_user == collection.owner %}
                    <button
                    class="delete btn p-0 text-white"
                    style="border: none; color: white !important;"
                    onclick="event.preventDefault();"
                    data-bs-toggle="modal"
                    data-bs-target="#delete-music"
                    data-name="{{ artist.name }}"
                    data-code="{{ collection.code }}"
                    data-collection="{{ collection.name }}"
                    data-type="artists"
                    data-user="{{ current_user }}"
                    >
                    <span class="text-white">Delete</span><i class="bi bi-trash text-white"></i>
                </button>
              {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ artist.name }}</h2>
                    <a class="text-decoration-none" href="https://open.spotify.com/artist/{{ artist.uri_last_part }}" target="_blank">
                        <h3 class="text-white">Spotify <i class="bi bi-spotify text-white"></i> </h3>
                    </a>
                </div>
            </div>
        </div>
    
        {% endfor %}

        {% for album in collection.albums_list  %}

        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
            <div class="card card-border" style="width: 18rem;">
                {% if album.cover_art %}
                    <img src="{{ album.cover_art }}" class="card-img-top border-bottom" alt="{{ album.title }}">
                {% else %}
                    <img src="{% static 'default/default.jpg' %}" class="card-img-top border-bottom" alt="{{ album.title }}">
                {% endif %}
                {% if current_user == collection.owner %}
                <button
                  class="delete btn p-0 text-white"
                  onclick="event.preventDefault();"
                  data-bs-toggle="modal"
                  data-bs-target="#delete-music"
                  data-name="{{ album.title }}"
                  data-code="{{ collection.code }}"
                  data-collection="{{ collection.name }}"
                  data-type="albums"
                  data-user="{{ current_user }}"
                >
                <span class="text-white">Delete</span><i class="bi bi-trash text-white"></i>
              </button>
              {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ album.title }}</h2>
                    <h3 class="card-title">{{ album.artist }}</h3>
                    <h4 class="card-title">{{ album.release_year }}</h4>
                    <a class="text-decoration-none" href="https://open.spotify.com/album/{{ album.uri_last_part }}" target="_blank">
                        <h4>Spotify <i class="bi bi-spotify"></i> </h4>
                    </a>
                </div>
            </div>
        </div>
    
        {% endfor %}



    </div>


</div>

{% block script %}

<script>


    $(() => {
        $('#delete-music').on('show.bs.modal', event => {
            $('.modal-body').data('type', $(event.relatedTarget).data('type'))
            $('.modal-body').data('music', $(event.relatedTarget).data('name'))


            $('.modal-body .name').text('Delete ' + $(event.relatedTarget).data('name'))
            $('.modal-body .collection').text('From ' + $(event.relatedTarget).data('collection'))
          })

          $('#delete-music .btn-danger').on('click', () => {
            const type = $('.modal-body').data('type')
            const music = $('.modal-body').data('music')

            const url = "{% url 'core:delete_music' current_user collection.code 'type' 'music' %}"
                    .replace('type', type)
                    .replace('music', music)

            $.ajax({
                url: url,
                type: "DELETE",
                processData: false, 
                contentType: false,       
                success: function(response) {
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url  
                        console.log("Deletion Successful:", response)
                    }
    
                },
                error: function(xhr) {
                    console.error("Deletion Failed:", xhr.responseText) 
                }
            })
            


          })

        })


</script>

{% endblock %}



{% if update_form %}
    {% include "core/includes/update_collection.html" %}
    {% include "core/includes/delete_music.html" %}
{% endif %}

</div>

{% endblock %}

