{% extends "core/base.html" %} 
{% load static %}

{% block title %} Search {% endblock %}

{% block style %} 
<style>
    
    .card-title {
        white-space: nowrap;        /* Prevents text from wrapping to the next line */
        overflow: hidden;           /* Hides any overflowing text */
        text-overflow: ellipsis;    /* Adds '...' at the end if the text overflows */
        max-width: 700px;           /* Set a max width to trigger truncation */
    }

    #search-wrapper {
        height: 80vh;
        transition: all 0.5s ease-in-out;
    }

    #search-wrapper.moved-up {
        height: auto;
        margin-top: 2rem;
    }

    .custom-search {
        width: 100%;
        padding: 0.75rem 1.2rem;
        font-size: 1rem;
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .custom-search:focus {
        border-color: #1DB954;
        box-shadow: 0 0 10px rgba(29, 185, 84, 0.3);
        outline: none;
    }

    .clear-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #999;
        cursor: pointer;
        z-index: 2;
    }

    .search-icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #666;
        z-index: 2;
    }

    .clear-icon:hover {
        color: #c0392b;
    }
    
</style>
{% endblock %}

{% block script %}
<script>
    $(() => {
        toggleVisibility(".hidden-items", false); 
        $("#clear-btn").click(clearScreen);
        let debounceTimer;

        // Handle search input
        $("#music-search").on("input", () => {
            clearTimeout(debounceTimer);

            const hasText = $("#music-search").val().trim().length > 0;

            // Trigger move-up effect
            $("#search-wrapper").addClass("moved-up");

            if (hasText) {
                $("#clear-btn").removeClass("d-none");
            } else {
                $("#clear-btn").addClass("d-none");
            }

            // If user has stopped typing after half a second, send input to server
            debounceTimer = setTimeout(() => {
                searchMusic();
            }, 500);
        });

        // Clear input when X icon is clicked
        $("#clear-btn").on("click", () => {
        clearScreen();
        });


        // Function to search for music
        function searchMusic() {
            let url = "{% url 'core:search' %}";
            let user_input = $("#music-search").val().trim();

            // If the user input is blank, clear the screen
            if (!user_input) {
                clearScreen();
                return;
            }

            // Ajax request to do the search on the server
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    input: user_input,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                dataType: "json",
                success: (response) => {
                    printCards(response);
                },
                error: (error) => {
                    console.error(`Error fetching music: ${error}`);
                }
            });
        }

          // Print out the cards to user
        function printCards(response) {
            const topResult = response.topResult
            const albumResults = response.albumResults
            const artistResults = response.artistResults

            console.log(artistResults)

            $(".music").empty()
            toggleVisibility(".hidden-items", true)

            // Print the top result
            renderCard(topResult, "#top-result")

            // Print the artists
            Object.entries(artistResults).forEach(([_, artist]) => {
                const cardWrapper = `<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4"></div>`;
                const $wrapper = $(cardWrapper);
                renderCard(artist, $wrapper);
                $('#artists-row').append($wrapper);
            });
            
            // Print the albums
            Object.entries(albumResults).forEach(([_, album]) => {
                const cardWrapper = `<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4"></div>`;
                const $wrapper = $(cardWrapper);
                renderCard(album, $wrapper);
                $('#albums-row').append($wrapper);
            });
            

        }

        // Render the cards
        function renderCard(data, targetSelector) {
            let html = '';
            if (data.type === "artist") {
                const { type, name, id, image_url, uri } = data;
        
                html = `
                    <div class="card card-border" style="width: 18rem;">
                        <img src="${image_url}" class="card-img-top border-bottom border-white" alt="${name}-image" width="300" height="300">
                        <div class="card-body">
                            <h2 class="card-title">${name}</h2>
                            <button class="btn btn-success addToCollection btn-md mt-1 mb-2" data-bs-toggle="modal" data-bs-target="#saveMusic" 
                                data-type="${type}" 
                                data-name="${name}" 
                                data-image="${image_url}" 
                                data-uri="${uri}">
                                Add to Collection
                            </button>
                            <a class="text-decoration-none" href="https://open.spotify.com/artist/${id}" target="_blank">
                                <h4>Spotify <i class="bi bi-spotify"></i></h4>
                            </a>
                        </div>
                    </div>
                `;
            } else if (data.type === "album") {
                const { type, title, uri, id, artist, release_year, cover_url } = data;
        
                html = `
                    <div class="card card-border" style="width: 18rem;">
                        <img src="${cover_url}" class="card-img-top border-bottom border-white" alt="${title}-image" width="300" height="300">
                        <div class="card-body">
                            <h2 class="card-title">${title}</h2>
                            <h3 class="card-title">${artist}</h3>
                            <h4 class="card-title">${release_year}</h4>
                            <button class="btn btn-success addToCollection btn-md mt-1 mb-2" data-bs-toggle="modal" data-bs-target="#saveMusic" 
                                data-type="${type}"
                                data-title="${title}" 
                                data-year="${release_year}"
                                data-artist="${artist}" 
                                data-art="${cover_url}"
                                data-uri="${uri}">
                                Add to Collection
                            </button>

                            <a class="text-decoration-none" href="https://open.spotify.com/album/${id}" target="_blank">
                                <h5>Spotify <i class="bi bi-spotify"></i> </h5>
                            </a>
                        </div>
                    </div>
                `;
            }
        
            $(targetSelector).append(html);
        }
        

     
        // Function to clear the screen
        function clearScreen() {
            toggleVisibility(".hidden-items", false);
            $("#music-search").val('');
            $(".music").empty()
            $("#search-wrapper").removeClass("moved-up");
            $("#clear-btn").addClass("d-none");

        }

        // Utility function to toggle visibility
        function toggleVisibility(selector, show) {
            if (show) {
                $(selector).removeClass("d-none");
            } else {
                $(selector).addClass("d-none");
            }
        }

        $(document).on("click", ".addToCollection", function() {
            const type = $(this).data("type")

            if (type === "artist") {
                const name = $(this).data("name")
                const image = $(this).data("image")
                const uri = $(this).data("uri")
                $("#artist-image").val(image)
                $("#artist-uri").val(uri)
                $("#artist-name").val(name)

            } else if (type === "album") {
                const title = $(this).data("title")
                const year = $(this).data("year")
                const artist = $(this).data("artist")
                const art = $(this).data("art")
                const uri = $(this).data("uri")

                $("#album-title").val(title)
                $("#album-year").val(year)
                $("#album-art").val(art)
                $("#album-uri").val(uri)
                $("#artist-name").val(artist)

            }
        
            $("#type").val(type);

            $("#saveMusic input[type=checkbox]").prop("checked", false)
            $("#success-messages").empty().hide()
            $("#error-messages").empty().hide()
        });
        
    });
</script>
{% endblock %}

{% block main %} 

<div id="search-wrapper" class="d-flex justify-content-center align-items-center flex-column">
    <form method="post" class="w-100 d-flex justify-content-center position-relative" style="max-width: 500px;">
        {% csrf_token %}
        <i class="bi bi-search search-icon"></i>
        <input id="music-search" type="text" class="form-control custom-search pe-5 ps-5" placeholder="Search for Music...">
        <i id="clear-btn" class="bi bi-x-circle clear-icon d-none"></i>
    </form>
</div>

<div class="d-flex flex-column align-items-center" style="font-family: 'Montserrat', sans-serif;">
    <h1 class="display-5 text-center hidden-items">Spotify Results</h1>
    <div class="container" id="music-container">
        <h1 class="hidden-items">Top Result:</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-left mb-4">
                <div class="music" id="top-result">

                </div>
            </div> 
        </div>

        <div >
            <h1 class="hidden-items">Artists:</h1>
            <div class="row music" id="artists-row">
              
            </div> 
        </div>

        <div>
            <h1 class="hidden-items">Albums:</h1>
            <div class="row music" id="albums-row">
                
            </div> 
        </div>
    </div>
</div>

{% include "core/includes/save_to_collection.html" %}
{% include "core/includes/add_collection.html" %}

{% endblock %}
